.bdSug_app {
  display: none !important;
}
.index-page .form-control,
.list-page .form-control,
.detail-page .form-control {
  box-shadow: none;
}
.index-page .btn,
.list-page .btn,
.detail-page .btn {
  background-color: #3385ff;
  border-color: #3385ff;
  color: #fff;
}
.list-page .logo,
.detail-page .logo {
  width: 101px;
}
.list-page .logo img,
.detail-page .logo img {
  width: 100%;
}
.list-page nav,
.detail-page nav {
  overflow: hidden;
  padding: 30px 0 0;
}
.index-page {
  margin-top: 200px;
}
.index-page .logo {
  width: 180px;
  margin: 0 auto 20px;
}
.index-page .logo img {
  width: 100%;
}
.list-page .search-res-info {
  padding: 5px 0 5px 116px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}
.list-page b {
  font-weight: normal;
}
.list-page .search-res {
  margin: 0 0 0 116px;
  width: 540px;
}
.list-page .search-res .item-list {
  font-size: 13px;
  padding: 4px 0 14px;
}
.list-page .search-res .search-item {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
.list-page .search-res .item-bar span {
  margin-right: 5px;
}
.list-page .search-res .item-bar span:nth-child(2n) b {
  border-radius: 40px;
  background-color: rgba(221, 221, 221, 0.57);
  padding: 2px 8px;
}
.detail-page .detail-res {
  width: 540px;
  margin: 0 0 0 116px;
}
.detail-page .detail-res h1 {
  font-size: 22px;
}
.detail-page .detail-res .fileDetail p a {
  margin-right: 5px;
  display: inline-block;
  color: #e40000;
}
.detail-page .search-res-info {
  padding: 5px 0 5px 116px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  color: #919191;
  font-size: 12px;
}
footer {
  display: none;
}
